<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
          <div id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "Categories", categories_path, class: "navbar-brand" %>
              </li>
            </ul>
    </div> <!-- /.navbar-collpase -->
  </div> <!-- /.container-fluid -->
</nav>
